:root {
     --jdgm-primary-color: #000;
     --jdgm-secondary-color: #fff;
     --jdgm-star-color: #FFDC0B;
     --jdgm-write-review-text-color: white;
     --jdgm-write-review-bg-color: #000000;
     --jdgm-paginate-color: #000;
     --jdgm-border-radius: 10;
     --jdgm-reviewer-name-color: #000000;
 
     --font-body-scale: 1.0;
     --font-body-line-height-scale: 1.0;
     --font-body-letter-spacing: 0.0em;
     --font-body-medium-weight: 500;
     --font-body-bold-weight: 600;
     --font-announcement-scale: 1.0;
     --font-heading-scale: 1.0;
     --font-heading-line-height-scale: 1.0;
     --font-heading-letter-spacing: 0.0em;
     --font-navigation-scale: 1.0;
     --font-product-title-scale: 1.0;
     --font-product-title-line-height-scale: 1.0;
     --button-letter-spacing: 0.02em;
     --bg-body: #ffffff;
     --bg-body-rgb: 255, 255, 255;
     --bg-body-darken: #f7f7f7;
     --payment-terms-background-color: #ffffff;
     --color-body: #484f56;
     --color-body-rgb: 72, 79, 86;
     --color-accent: #121212;
     --color-accent-rgb: 18, 18, 18;
     --color-border: #E2E2E2;
     --color-form-border: #dedede;
     --color-overlay-rgb: 0, 0, 0;
     --color-announcement-bar-text: #ffffff;
     --color-announcement-bar-bg: #121212;
     --color-header-bg: #ffffff;
     --color-header-bg-rgb: 255, 255, 255;
     --color-header-text: #484f56;
     --color-header-text-rgb: 72, 79, 86;
     --color-header-links: #484f56;
     --color-header-links-hover: #121212;
     --color-header-icons: #121212;
     --color-header-border: #E2E2E2;
     --solid-button-background: #000000;
     --solid-button-label: #ffffff;
     --outline-button-label: #121212;
     --color-price: #cf2929;
     --color-star: #ffce00;
     --color-dots: #ffffff;
     --color-inventory-instock: #279A4B;
     --color-inventory-lowstock: #FB9E5B;
     --section-spacing-mobile: 25px;
     --section-spacing-desktop: 40px;
     --button-border-radius: 2px;
     --color-badge-text: #ffffff;
     --color-badge-sold-out: #939393;
     --color-badge-sale: #cf2929;
     --color-badge-preorder: #666666;
     --badge-corner-radius: 6px;
     --color-footer-text: #FFFFFF;
     --color-footer-text-rgb: 255, 255, 255;
     --color-footer-link: #FFFFFF;
     --color-footer-link-hover: #cecece;
     --color-footer-border: #444444;
     --color-footer-border-rgb: 68, 68, 68;
     --color-footer-bg: #121212;
 }